{# templates/product/edit.html.twig #} {% extends 'base.html.twig' %} {% block
title %}Edit Product{% endblock %} {% block body %}
<h1>Edit Product</h1>

{{ form_start(form) }}
<div class="form-group">
  {{ form_label(form.name) }}
  {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.name) }}
</div>
<div class="form-group">
  {{ form_label(form.thumbnail) }}
  {{ form_widget(form.thumbnail, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.thumbnail) }}
</div>
<div class="form-group">
  {{ form_label(form.description) }}
  {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.description) }}
</div>
<div class="form-group">
  {{ form_label(form.stock) }}
  {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.stock) }}
</div>
<div class="form-group">
  {{ form_label(form.status) }}
  {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
  {{ form_errors(form.status) }}
</div>
<button class="btn btn-primary">Save</button>
{{ form_end(form) }}

<a href="{{ path('product_index') }}" class="btn btn-secondary mt-2"
  >Back to List</a
>
{% endblock %}
